USE [master]
GO
/****** Object:  Database [Karate Club]    Script Date: 6/28/2025 10:00:36 AM ******/
CREATE DATABASE [Karate Club]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Karate Club', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Karate Club.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Karate Club_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Karate Club_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Karate Club].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Karate Club]
GO
/****** Object:  Table [dbo].[People2]    Script Date: 6/28/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People2](
	[PresonID] [int] IDENTITY(1,1) NOT NULL,
	[NatiionalNo] [nvarchar](20) NULL,
	[FirestName] [nvarchar](20) NULL,
	[SecoundName] [nvarchar](20) NULL,
	[ThirdName] [nvarchar](20) NULL,
	[LastName] [nvarchar](20) NULL,
	[Phone] [nvarchar](20) NULL,
	[Emil] [nvarchar](20) NULL,
	[DateBirth] [smalldatetime] NULL,
	[Gander] [tinyint] NULL,
	[Adress] [nvarchar](500) NULL,
	[PathImage] [nvarchar](250) NULL,
 CONSTRAINT [PK_People2] PRIMARY KEY CLUSTERED 
(
	[PresonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BeltTests]    Script Date: 6/28/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeltTests](
	[TestID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[RankID] [int] NOT NULL,
	[Result] [bit] NULL,
	[Date] [smalldatetime] NOT NULL,
	[TestedByInstructorID] [int] NOT NULL,
	[PaymentID] [int] NOT NULL,
 CONSTRAINT [PK_BeltTests] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructors]    Script Date: 6/28/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructors](
	[InstructorsID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[Qualification] [nvarchar](100) NULL,
 CONSTRAINT [PK_Instructors] PRIMARY KEY CLUSTERED 
(
	[InstructorsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 6/28/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MembersIID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[LastBeltRank] [int] NOT NULL,
	[EmergencyContactInfo] [nvarchar](1001) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Certificate] [nvarchar](150) NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[MembersIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BeltRanks]    Script Date: 6/28/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeltRanks](
	[RankID] [int] IDENTITY(1,1) NOT NULL,
	[RankName] [nvarchar](50) NOT NULL,
	[TestFees] [smallmoney] NOT NULL,
 CONSTRAINT [PK_BeltRanks] PRIMARY KEY CLUSTERED 
(
	[RankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 6/28/2025 10:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[PaymentDate] [smalldatetime] NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[Lastmodified] [smalldatetime] NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[BeltTest_View]    Script Date: 6/28/2025 10:00:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[BeltTest_View]
AS
SELECT        dbo.BeltTests.TestID, dbo.People2.FirestName + ' ' + dbo.People2.SecoundName + ' ' + dbo.People2.ThirdName + ' ' + dbo.People2.LastName AS MemberName, 
                         People2_1.FirestName + ' ' + People2_1.SecoundName + ' ' + People2_1.ThirdName + ' ' + People2_1.LastName AS InstructorName, dbo.Payments.Amount AS TestFees, dbo.BeltRanks.RankName, 
                         CASE WHEN dbo.BeltTests.Result = 1 THEN 'Passed' ELSE 'Failed' END AS Result, dbo.BeltTests.Date, dbo.Members.MembersIID, dbo.BeltTests.RankID
FROM            dbo.BeltTests INNER JOIN
                         dbo.Members ON dbo.BeltTests.MemberID = dbo.Members.MembersIID INNER JOIN
                         dbo.People2 ON dbo.Members.PersonID = dbo.People2.PresonID INNER JOIN
                         dbo.BeltRanks ON dbo.BeltTests.RankID = dbo.BeltRanks.RankID INNER JOIN
                         dbo.Instructors ON dbo.BeltTests.TestedByInstructorID = dbo.Instructors.InstructorsID INNER JOIN
                         dbo.Payments ON dbo.BeltTests.PaymentID = dbo.Payments.PaymentID INNER JOIN
                         dbo.People2 AS People2_1 ON dbo.Instructors.PersonID = People2_1.PresonID
GO
/****** Object:  Table [dbo].[MemberInstructors]    Script Date: 6/28/2025 10:00:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberInstructors](
	[MemberInstructorID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[InstructorID] [int] NOT NULL,
	[AssignDate] [smalldatetime] NOT NULL,
	[TrainedEndDate] [smalldatetime] NULL,
 CONSTRAINT [PK_MemberInstructors_1] PRIMARY KEY CLUSTERED 
(
	[MemberInstructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MemberInstructor_Views]    Script Date: 6/28/2025 10:00:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MemberInstructor_Views]
AS
SELECT        dbo.MemberInstructors.MemberInstructorID, People2_1.FirestName + ' ' + People2_1.SecoundName + ' ' + People2_1.ThirdName + ' ' + People2_1.LastName AS MemberName, People2_1.Phone AS [ MemberPhone], 
                         dbo.BeltRanks.RankName AS MemberRnke, dbo.People2.FirestName + ' ' + dbo.People2.SecoundName + ' ' + dbo.People2.ThirdName + ' ' + dbo.People2.LastName AS InstructorName, 
                         dbo.Members.EmergencyContactInfo AS InstructoContactInfo, dbo.MemberInstructors.AssignDate
FROM            dbo.MemberInstructors INNER JOIN
                         dbo.Instructors ON dbo.MemberInstructors.InstructorID = dbo.Instructors.InstructorsID INNER JOIN
                         dbo.Members ON dbo.MemberInstructors.MemberID = dbo.Members.MembersIID INNER JOIN
                         dbo.BeltRanks ON dbo.Members.LastBeltRank = dbo.BeltRanks.RankID INNER JOIN
                         dbo.People2 ON dbo.Instructors.PersonID = dbo.People2.PresonID INNER JOIN
                         dbo.People2 AS People2_1 ON dbo.Members.PersonID = People2_1.PresonID
GO
/****** Object:  Table [dbo].[SubscriptionPeriods]    Script Date: 6/28/2025 10:00:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionPeriods](
	[PeriodID] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[EndDate] [smalldatetime] NOT NULL,
	[Fees] [smallmoney] NOT NULL,
	[MemberID] [int] NOT NULL,
	[PaymentID] [int] NOT NULL,
	[isPaid] [bit] NULL,
 CONSTRAINT [PK_SubscriptionPeriods] PRIMARY KEY CLUSTERED 
(
	[PeriodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/28/2025 10:00:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Permissions] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BeltRanks] ON 

INSERT [dbo].[BeltRanks] ([RankID], [RankName], [TestFees]) VALUES (1, N'White Belt ', 30.0000)
INSERT [dbo].[BeltRanks] ([RankID], [RankName], [TestFees]) VALUES (2, N'Blue Belt ', 50.0000)
INSERT [dbo].[BeltRanks] ([RankID], [RankName], [TestFees]) VALUES (3, N' Yellow Belt', 55.0000)
SET IDENTITY_INSERT [dbo].[BeltRanks] OFF
GO
SET IDENTITY_INSERT [dbo].[BeltTests] ON 

INSERT [dbo].[BeltTests] ([TestID], [MemberID], [RankID], [Result], [Date], [TestedByInstructorID], [PaymentID]) VALUES (1, 1, 4, 1, CAST(N'2025-07-08T00:00:00' AS SmallDateTime), 1, 1)
INSERT [dbo].[BeltTests] ([TestID], [MemberID], [RankID], [Result], [Date], [TestedByInstructorID], [PaymentID]) VALUES (2, 1, 1, 0, CAST(N'2025-04-04T00:00:00' AS SmallDateTime), 3, 1)
INSERT [dbo].[BeltTests] ([TestID], [MemberID], [RankID], [Result], [Date], [TestedByInstructorID], [PaymentID]) VALUES (3, 6, 4, 0, CAST(N'2030-08-07T00:00:00' AS SmallDateTime), 1, 1004)
SET IDENTITY_INSERT [dbo].[BeltTests] OFF
GO
SET IDENTITY_INSERT [dbo].[Instructors] ON 

INSERT [dbo].[Instructors] ([InstructorsID], [PersonID], [Qualification]) VALUES (1, 1, N'12345')
INSERT [dbo].[Instructors] ([InstructorsID], [PersonID], [Qualification]) VALUES (3, 2, N'1234456789')
SET IDENTITY_INSERT [dbo].[Instructors] OFF
GO
SET IDENTITY_INSERT [dbo].[MemberInstructors] ON 

INSERT [dbo].[MemberInstructors] ([MemberInstructorID], [MemberID], [InstructorID], [AssignDate], [TrainedEndDate]) VALUES (1015, 6, 3, CAST(N'2025-04-17T09:42:00' AS SmallDateTime), CAST(N'2025-05-17T09:42:00' AS SmallDateTime))
INSERT [dbo].[MemberInstructors] ([MemberInstructorID], [MemberID], [InstructorID], [AssignDate], [TrainedEndDate]) VALUES (1017, 1011, 1, CAST(N'2025-04-17T09:52:00' AS SmallDateTime), CAST(N'1900-05-17T09:52:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[MemberInstructors] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([MembersIID], [PersonID], [LastBeltRank], [EmergencyContactInfo], [IsActive], [Certificate]) VALUES (1, 1, 4, N'123455', 1, NULL)
INSERT [dbo].[Members] ([MembersIID], [PersonID], [LastBeltRank], [EmergencyContactInfo], [IsActive], [Certificate]) VALUES (2, 2, 5, N'01235263738', 1, NULL)
INSERT [dbo].[Members] ([MembersIID], [PersonID], [LastBeltRank], [EmergencyContactInfo], [IsActive], [Certificate]) VALUES (6, 1, 4, N'231235678', 1, NULL)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [MemberID], [PaymentDate], [Amount], [Lastmodified]) VALUES (1, 1, CAST(N'2024-04-06T00:00:00' AS SmallDateTime), CAST(700 AS Decimal(18, 0)), CAST(N'2024-04-06T00:00:00' AS SmallDateTime))
INSERT [dbo].[Payments] ([PaymentID], [MemberID], [PaymentDate], [Amount], [Lastmodified]) VALUES (2, 1, CAST(N'2025-04-07T00:00:00' AS SmallDateTime), CAST(100 AS Decimal(18, 0)), CAST(N'2025-04-07T00:00:00' AS SmallDateTime))
INSERT [dbo].[Payments] ([PaymentID], [MemberID], [PaymentDate], [Amount], [Lastmodified]) VALUES (1002, 1, CAST(N'2025-03-28T00:10:00' AS SmallDateTime), CAST(234 AS Decimal(18, 0)), CAST(N'2025-03-28T00:10:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[People2] ON 

INSERT [dbo].[People2] ([PresonID], [NatiionalNo], [FirestName], [SecoundName], [ThirdName], [LastName], [Phone], [Emil], [DateBirth], [Gander], [Adress], [PathImage]) VALUES (1, N'N1', N'Mohammed', N'Abo Hadohod', N'Quser', N'Ali', N'123567855', NULL, CAST(N'2022-02-12T00:00:00' AS SmallDateTime), 1, NULL, NULL)
INSERT [dbo].[People2] ([PresonID], [NatiionalNo], [FirestName], [SecoundName], [ThirdName], [LastName], [Phone], [Emil], [DateBirth], [Gander], [Adress], [PathImage]) VALUES (2, N'N2', N'Randa', N'Mohammed', N'Shrifa', N'Ali', N'9876532', N'randa.com', CAST(N'2025-02-12T09:31:00' AS SmallDateTime), 1, N'asdfgh', NULL)
INSERT [dbo].[People2] ([PresonID], [NatiionalNo], [FirestName], [SecoundName], [ThirdName], [LastName], [Phone], [Emil], [DateBirth], [Gander], [Adress], [PathImage]) VALUES (1002, N'n4', N'Mhada', N'Mohemmed', N'Kreim', N'Mhamod', N'235678', NULL, CAST(N'2025-02-12T09:31:00' AS SmallDateTime), 0, N'zxcvbnm', NULL)
SET IDENTITY_INSERT [dbo].[People2] OFF
GO
SET IDENTITY_INSERT [dbo].[SubscriptionPeriods] ON 

INSERT [dbo].[SubscriptionPeriods] ([PeriodID], [StartDate], [EndDate], [Fees], [MemberID], [PaymentID], [isPaid]) VALUES (1, CAST(N'2024-04-06T00:00:00' AS SmallDateTime), CAST(N'2024-08-04T00:00:00' AS SmallDateTime), 700.0000, 1, 1, 1)
INSERT [dbo].[SubscriptionPeriods] ([PeriodID], [StartDate], [EndDate], [Fees], [MemberID], [PaymentID], [isPaid]) VALUES (7, CAST(N'2025-03-31T16:12:00' AS SmallDateTime), CAST(N'2025-04-17T03:05:00' AS SmallDateTime), 11.0000, 1, 1, 1)
INSERT [dbo].[SubscriptionPeriods] ([PeriodID], [StartDate], [EndDate], [Fees], [MemberID], [PaymentID], [isPaid]) VALUES (1005, CAST(N'2025-04-17T03:25:00' AS SmallDateTime), CAST(N'2025-05-17T03:25:00' AS SmallDateTime), 4000.0000, 6, 6008, 1)
SET IDENTITY_INSERT [dbo].[SubscriptionPeriods] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [PersonID], [UserName], [Password], [IsActive], [Permissions]) VALUES (2, 2, N'Randa', N'22222', 1, 8)
INSERT [dbo].[Users] ([UserID], [PersonID], [UserName], [Password], [IsActive], [Permissions]) VALUES (4, 1, N'User1', N'1111', 1, 848)
INSERT [dbo].[Users] ([UserID], [PersonID], [UserName], [Password], [IsActive], [Permissions]) VALUES (1003, 1, N'usear4', N'A1234', 0, -1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[BeltTests]  WITH CHECK ADD  CONSTRAINT [FK_BeltTests_BeltRanks1] FOREIGN KEY([RankID])
REFERENCES [dbo].[BeltRanks] ([RankID])
GO
ALTER TABLE [dbo].[BeltTests] CHECK CONSTRAINT [FK_BeltTests_BeltRanks1]
GO
ALTER TABLE [dbo].[BeltTests]  WITH CHECK ADD  CONSTRAINT [FK_BeltTests_Instructors] FOREIGN KEY([TestedByInstructorID])
REFERENCES [dbo].[Instructors] ([InstructorsID])
GO
ALTER TABLE [dbo].[BeltTests] CHECK CONSTRAINT [FK_BeltTests_Instructors]
GO
ALTER TABLE [dbo].[BeltTests]  WITH CHECK ADD  CONSTRAINT [FK_BeltTests_Members] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MembersIID])
GO
ALTER TABLE [dbo].[BeltTests] CHECK CONSTRAINT [FK_BeltTests_Members]
GO
ALTER TABLE [dbo].[BeltTests]  WITH CHECK ADD  CONSTRAINT [FK_BeltTests_Payments1] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payments] ([PaymentID])
GO
ALTER TABLE [dbo].[BeltTests] CHECK CONSTRAINT [FK_BeltTests_Payments1]
GO
ALTER TABLE [dbo].[Instructors]  WITH CHECK ADD  CONSTRAINT [FK_Instructors_People21] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People2] ([PresonID])
GO
ALTER TABLE [dbo].[Instructors] CHECK CONSTRAINT [FK_Instructors_People21]
GO
ALTER TABLE [dbo].[MemberInstructors]  WITH CHECK ADD  CONSTRAINT [FK_MemberInstructors_Instructors] FOREIGN KEY([InstructorID])
REFERENCES [dbo].[Instructors] ([InstructorsID])
GO
ALTER TABLE [dbo].[MemberInstructors] CHECK CONSTRAINT [FK_MemberInstructors_Instructors]
GO
ALTER TABLE [dbo].[MemberInstructors]  WITH CHECK ADD  CONSTRAINT [FK_MemberInstructors_Members] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MembersIID])
GO
ALTER TABLE [dbo].[MemberInstructors] CHECK CONSTRAINT [FK_MemberInstructors_Members]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_BeltRanks] FOREIGN KEY([LastBeltRank])
REFERENCES [dbo].[BeltRanks] ([RankID])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_BeltRanks]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_People2] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People2] ([PresonID])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_People2]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Members] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MembersIID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Members]
GO
ALTER TABLE [dbo].[SubscriptionPeriods]  WITH CHECK ADD  CONSTRAINT [FK_SubscriptionPeriods_Members] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MembersIID])
GO
ALTER TABLE [dbo].[SubscriptionPeriods] CHECK CONSTRAINT [FK_SubscriptionPeriods_Members]
GO
ALTER TABLE [dbo].[SubscriptionPeriods]  WITH CHECK ADD  CONSTRAINT [FK_SubscriptionPeriods_Payments] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payments] ([PaymentID])
GO
ALTER TABLE [dbo].[SubscriptionPeriods] CHECK CONSTRAINT [FK_SubscriptionPeriods_Payments]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_People2] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People2] ([PresonID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_People2]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "BeltTests"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 444
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Members"
            Begin Extent = 
               Top = 76
               Left = 690
               Bottom = 206
               Right = 901
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "People2"
            Begin Extent = 
               Top = 120
               Left = 482
               Bottom = 250
               Right = 652
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "BeltRanks"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Instructors"
            Begin Extent = 
               Top = 6
               Left = 482
               Bottom = 119
               Right = 652
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Payments"
            Begin Extent = 
               Top = 120
               Left = 38
               Bottom = 250
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "People2_1"
            Begin Extent = 
               Top = 138
               Left = 246
               Bottom = 268
               Right = 416
            End
            DisplayFla' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BeltTest_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'gs = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BeltTest_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BeltTest_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "MemberInstructors"
            Begin Extent = 
               Top = 120
               Left = 38
               Bottom = 250
               Right = 234
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Instructors"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 119
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Members"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 136
               Right = 665
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "BeltRanks"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "People2"
            Begin Extent = 
               Top = 6
               Left = 703
               Bottom = 136
               Right = 873
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "People2_1"
            Begin Extent = 
               Top = 120
               Left = 272
               Bottom = 250
               Right = 442
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MemberInstructor_Views'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MemberInstructor_Views'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MemberInstructor_Views'
GO
USE [master]
GO
